@import "colors/denji.css";

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "GeistMonoNerd Nerd Font Propo", "sans-serif";
    font-weight: bold;

    min-height: 0px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip { 
    background: @black;
    border: 2px solid @orange;
    border-radius: 12px;

}

tooltip label{
    color: @bright-yellow;
    padding: 6px;
}

#workspaces {
    background-color: @black;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;

}

#workspaces button{
    padding:0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: @bright-yellow;
    background-color: @dark-red;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @orange;
    color: @black;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @black;
    color: @orange;
    border-radius: 16px;
    min-width: 50px;
    background-size: 1px 1px;
}

#workspaces button.urgent {
    background-color: @bright-red;
    color: @black;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#memory,
#cava,
#bluetooth,
#disk,
#user,
#temperature,
#cpu,
#battery, 
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @black;
    padding: 0 15px 0 15px;
    margin: 0 5px 0 5px;
    border-radius: 50px;
    color: @bright-yellow;
}

#clock {
    margin: 0 5px 0 10px;
}

#custom-notification {
    margin: 0 10px 0 5px;
}

/*
#clock {
    color: @blue;
    margin: 0 15px 0 30px;
}

#custom-notification {
    color: @fg;
    margin: 0 30px 0 15px;
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @purple;
}

#battery {
    color: @blue;
}

*/